<div class="col-xs-12 col-md-12">
  <h2 class="page-header text-center">Login</h2>
  <h4 style="color:red" class="text-center" *ngIf="invalidCredentials">Invalid Credentials</h4>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" formControlName="username"
        placeholder="Enter your username" autofocus="true">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" formControlName="password"
        placeholder="Enter your password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" name="login">Login
      </button>
    </div>
    <div class="text-center">
      <a [routerLink]="['/signup']">Don't have an account?</a>
    </div>
  </form>
</div>
